---
import { useTranslations } from "~/i18n/utils";
import type { LanguageList } from "~/i18n/ui";

const currentLang = Astro.currentLocale || "en";

const translateLabels = useTranslations(
  currentLang as keyof typeof LanguageList,
);

---
<a 
  href="/" 
  class="p-3 bg-[#AA135E] text-[#ffffff] font-semibold rounded-lg transition-all duration-300 ease-in-out transform hover:scale-105 hover:bg-[#640C36] hover:text-[#ffffff] focus:outline-none focus:ring-2  focus:ring-offset-2"
>
  {translateLabels('cta.back')}
</a>