---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

// List 1: Key Benefits
const keyBenefits: Array<CompatibilityItem> = [
  {
    title: "Tailored Software Solutions",
    icon: "frameworks/lit",
    url: '#benefits'
  },
  {
    title: "Ultra-Fast Landing Pages",
    icon: "frameworks/lit",
    url: '#benefits'
  },
  {
    title: "SEO-Optimized Designs",
    icon: "frameworks/lit",
    url: '#benefits'
  },
  {
    title: "Expert Team & Support",
    icon: "frameworks/lit",
    url: '#benefits'
  },
];

// List 2: Our Approach
const ourApproach: Array<CompatibilityItem> = [
  {
    title: "Strategic Planning",
    icon: "frameworks/lit",
    url: '#benefits'
  },
  {
    title: "Innovative Design",
    icon: "frameworks/lit",
    url: '#benefits'
  },
  {
    title: "Robust Development",
    icon: "frameworks/lit",
    url: '#benefits'
  },
  {
    title: "Continuous Optimization",
    icon: "frameworks/lit",
    url: '#benefits'
  },
];
---

<ContentSection title="Why Hontech for Custom Software Development and Landing Page Design?" id="benefits">
  <Fragment slot="lead">
    At Hontech, <span class="text-primary">we specialize in delivering</span> custom software <span class="text-primary">solutions</span> and landing page designs <span class="text-primary">to meet your business needs</span>.
  </Fragment>
  
  <CompatibilityList
    items={keyBenefits}
    title="Key Benefits"
    url="#key-benefits"
  />
  
  <CompatibilityList
    items={ourApproach}
    title="Our Approach"
    url="#our-approach"
  />
</ContentSection>
