---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { LanguageList } from "~/i18n/ui";
import { useTranslations } from "~/i18n/utils";
import type { CompatibilityItem } from "~/types";


const currentLang = Astro.currentLocale || "en";

const translateLabels = useTranslations(
  currentLang as keyof typeof LanguageList,
);



// List 1: Key Benefits
const keyBenefits: Array<CompatibilityItem> = [
  {
    title: translateLabels('compatibility.tailoredSoftwareSolutions'),
    icon: "frameworks/save-money",
    url: '#benefits'
  },
  {
    title: translateLabels('compatibility.ultraFastLandingPages'),
    icon: "frameworks/time",
    url: '#benefits'
  },
  {
    title: translateLabels('compatibility.seoOptimizedDesigns'),
    icon: "frameworks/seo",
    url: '#benefits'
  },
  {
    title: translateLabels('compatibility.expertTeamAndSupport'),
    icon: "frameworks/team",
    url: '#benefits'
  },
];

---

<ContentSection title={translateLabels('compatibility.ContentSection')} id="benefits">
  <Fragment slot="lead">
    {translateLabels('compatibility.at-hontech')} <span class="text-primary"> {translateLabels('compatibility.specialize')} </span> {translateLabels('compatibility.solutions')} <span class="text-primary"> {translateLabels('compatibility.solutions-2')} </span> {translateLabels('compatibility.landing-page')} {translateLabels('compatibility.to-meet')}
  </Fragment>
  
  <CompatibilityList
    items={keyBenefits}
    title={translateLabels('compatibility.keyBenefits')}
    url="#key-benefits"
  />
</ContentSection>
