---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { LanguageList } from "~/i18n/ui";
import { useTranslations } from "~/i18n/utils";
import type { FeatureItem } from "~/types";


const currentLang = Astro.currentLocale || "en";

const translateLabels = useTranslations(
  currentLang as keyof typeof LanguageList,
);


const features: Array<FeatureItem> = [
  // Landing Page Features
  {
    title: translateLabels('features.LightningFastPerformance'),
    description: translateLabels('features.LightningFastPerformance-2'),
    icon: "mdi:feather",
  },
  {
    title: translateLabels('features.EfficientResourceLoading'),
    description: translateLabels('features.EfficientResourceLoading-2'),
    icon: "mdi:directions-fork",
  },
  {
    title: translateLabels('features.SEODrivenDesign'),
    description: translateLabels('features.SEODrivenDesign-2'),
    icon: "mdi:search-web",
  },
  // Custom Software Features
  {
    title: translateLabels('features.FlexibleIntegration'),
    description: translateLabels('features.FlexibleIntegration-2'),
    icon: "mdi:handshake",
  },
  {
    title: translateLabels('features.SeamlessIntegrations'),
    description: translateLabels('features.SeamlessIntegrations-2'),
    icon: "mdi:graph",
  },
  {
    title: translateLabels('features.DedicatedSupportCollaboration'),
    description: translateLabels('features.DedicatedSupportCollaboration-2'),
    icon: "mdi:account-group",
  },
];

---

<ContentSection title={translateLabels('features.ContentSection')} id="features">
  <Fragment slot="lead">
    {translateLabels('features.Fragment')}
    <span class="text-primary"> {translateLabels('features.FragmentHighlight')}</span>
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
