---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Flexible Integration",
    description:
      "Develop custom software and landing pages using your favorite frameworks like React, Vue, or plain HTML. Hontech ensures seamless integration with any technology stack.",
    icon: "mdi:handshake",
  },
  {
    title: "Lightning-Fast Performance",
    description:
      "Our landing pages are built with static, optimized code to guarantee rapid load times and superior SEO performance, enhancing user experience and conversions.",
    icon: "mdi:feather",
  },
  {
    title: "Efficient Resource Loading",
    description:
      "Hontech's solutions dynamically load interactive elements only when needed, ensuring optimal performance without compromising functionality.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Seamless Integrations",
    description:
      "Our services integrate effortlessly with popular tools and platforms, streamlining your workflow and boosting productivity in your custom software projects.",
    icon: "mdi:graph",
  },
  {
    title: "SEO-Driven Design",
    description:
      "Every landing page is crafted with built-in SEO strategies—including optimized meta tags and structured data—to secure high rankings on search engines.",
    icon: "mdi:search-web",
  },
  {
    title: "Dedicated Support & Collaboration",
    description:
      "At Hontech, we value our clients. Benefit from continuous support and collaborative development, ensuring your project evolves with your business needs.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    At Hontech, our innovative approach combines the best practices in custom software development and landing page design to deliver solutions that are fast, flexible, and SEO-optimized.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
