---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Showcase" id="showcase">
  <Fragment slot="lead">
    Explore the <span class="text-primary">landing page designs</span> developed by <span class="text-primary">Hontech</span>
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => {
        if (site.data.type === "landingpage") {
          return <ShowcaseCard site={site} />;
        }
        return null;
      })}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="/portfolio">
        ...view all Landing page projects &rarr;
      </a>
    </p>
    
    <h3 class="text-center text-xl sm:text-2xl font-extrabold tracking-tight pt-8 pb-4">
      Custom <span class="text-primary">Software</span> developed by <span class="text-primary">Hontech</span>
    </h3>
    
    <div class="grid grid-cols-1 max-w-[700px] mx-auto">
      {orderedSites.map((site) => {
        if (site.data.type === "fullstack") {
          return <ShowcaseCard site={site} />;
        }
        return null;
      })}
    </div>
  </div>
</ContentSection>