---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import type { LanguageList } from "~/i18n/ui";
import { useTranslations } from "~/i18n/utils";
import SendMessageBtn from "./shared/sendMessageBtn.astro";


const currentLang = Astro.currentLocale || "en";

const translateLabels = useTranslations(
  currentLang as keyof typeof LanguageList,
);




const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title={translateLabels('showcase.ContentSection')} id="showcase">
  <Fragment slot="lead">
    {translateLabels('showcase.Explore')} <span class="text-primary">{translateLabels('showcase.LandingPageDesigns')}</span> {translateLabels('showcase.developedBy')} <span class="text-primary">Hontech</span>
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => {
        if (site.data.type === "landingpage") {
          return <ShowcaseCard site={site} />;
        }
        return null;
      })}
    </div>
    <p class="text-right text-sm">
      <!-- <a class="text-primary" href={getRelativeLocaleUrl(currentLang, "/portfolio")}>
        ... {translateLabels('showcase.ViewAllLandingPageProjects')} &rarr;
      </a> -->
    </p>
    
    <h3 class="text-center text-xl sm:text-2xl font-extrabold tracking-tight pt-8 pb-4">
      {translateLabels('showcase.Custom')} <span class="text-primary">{translateLabels('showcase.Software')}</span> {translateLabels('showcase.developedBy')} <span class="text-primary"> Hontech </span>
    </h3>
    
    <div class="grid grid-cols-1 pb-3 max-w-[700px] mx-auto">
      {orderedSites.map((site) => {
        if (site.data.type === "fullstack") {
          return <ShowcaseCard site={site} />;
        }
        return null;
      })}
    </div>
    <SendMessageBtn/>
  </div>
</ContentSection>